* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Bebas neue';
    font-size: 2rem;
    min-height: 100%;
    background-color: #3b3838;
}

.grid-container {
	display: grid;
	grid-gap: 10px;
	 ;

grid-template: 
	    "H"
	    "N"
	    "M"
	    "A"
	    "F"; 
}

.grid-container > * {
	box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}

header {
	grid-area: H;
	background-color: #ebfcf6;
}

nav {
	grid-area: N;
	background-color: #fbc4ff;
}

section {
	grid-area: M;
	background-color: #c6ffc4;
}

aside {
	grid-area: A;
	background-color: #ffcec4;
}

footer {
	grid-area: F;
	background-color: #faf8bb;
}

@media (min-width: 640px) {
     .grid-container {
     	grid-template:
     	"H  H" 4rem
     	"N  N" 2rem
     	"M  A" auto
     	"F  F" 3rem /
       65%  35%  
     	;
     }
}

@media (min-width: 640px) {
     .grid-container {
     	grid-template:
     	"H  H  H" 5rem
     	"N  M  A" 25rem
     	"F  F  F" 20rem
     	;
     }
   }

   .nav-item {
   	color: white;
   }

   .nav-item {
   	 color: black;
   }